*{
    margin: 0%;
    overflow-x: hidden;  
}
.black-background-min{
      width: 100%;
      height: auto;
      background-color: black;
}

.background-img{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/855ed6e2-d9f1-4afd-90da-96023ec747c3/85eb5b91-25ed-4965-ace9-ba8e4a0ead8d/IN-en-20230828-popsignuptwoweeks-perspective_alpha_website_large.jpg); 
     width: 100%;
      height: 100vh;
       background-size: cover;
}

.column-first-page{
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    color: white;

}
.span-1{
    position: relative;
    left: 45%;
}
.input-group{ 
     position: relative;
     display: flex;
    flex-wrap: wrap;
     align-items: stretch;
    width: 449px !important;
     height: 55px;       
}

.hr-1{
    width: 100%;
    height: 7px;
    background-color: rgb(58, 58, 58);
}
.first-page-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.larg-fond h1{
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 45px; 
}

.main-searhbar {
    background-color: transparent !important;
    color: white !important;
}

.main-searhbar::placeholder {
    color: white !important;
}
.language-box{
background-color: transparent !important;
}


@media screen and (max-width:576px) {
  .head{
    margin-left: 35px;    
  } 
  .head h3{
    font-size: 17px;
  }
  .head p{
    font-size: 13px;
  } 
  .second-button{
    position: relative;
    top: 70px;
    right: 40%;
  }
  .larg-fond h1{
    font-size: 15px;
  }
  .firstbutton{
    position: relative;
    left: 44px;
  }
  .last-graph{
    font-size: 15px;
  }
  .black-background-min{
    height: auto;
  }
 }
 

 

